<a href="https://colab.research.google.com/github/dhavalcodes/edudata/blob/main/California_Education_Demographic_and_Test_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import statements
import pandas as pd
import numpy as np

In [28]:
'''
importing the data from:
- https://caaspp-elpac.ets.org/caaspp/ResearchFileListSB?ps=true&lstTestYear=2022&lstTestType=B&lstCounty=00&lstDistrict=00000
the data contains Smarter Balanced Summative Assessments by School and District
'''

#loading 2021-2022 performance data
file_path = "/content/sb_ca2022entities_csv.txt"
data = pd.read_csv(file_path, encoding='ISO-8859-1', delimiter='^', error_bad_lines=False)
all_file_path = "/content/sb_ca2022_1_csv_v1.txt"
all_data = pd.read_csv(all_file_path, encoding='ISO-8859-1', delimiter='^', error_bad_lines=False)

<ipython-input-28-7fb4aff7ac7d>:9: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv(file_path, encoding='ISO-8859-1', delimiter='^', error_bad_lines=False)
<ipython-input-28-7fb4aff7ac7d>:11: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  all_data = pd.read_csv(all_file_path, encoding='ISO-8859-1', delimiter='^', error_bad_lines=False)

In [15]:
#EDA on all_data
all_data.describe()

,County Code,District Code,School Code,Filler,Test Year,Student Group ID,Grade,Test ID,Type ID
count,102669.000000,102669.000000,1.026690e+05,0.0,102669.0,102669.0,102669.000000,102669.000000,102669.000000
mean,29.314155,64724.184262,3.678157e+06,NaN,2022.0,1.0,7.259952,1.499976,7.127848
std,14.372575,13693.450743,2.784101e+06,NaN,0.0,0.0,3.641537,0.500002,0.900426
min,0.000000,0.000000,0.000000e+00,NaN,2022.0,1.0,3.000000,1.000000,4.000000
25%,19.000000,64683.000000,1.244870e+05,NaN,2022.0,1.0,4.000000,1.000000,7.000000
50%,31.000000,67181.000000,6.008098e+06,NaN,2022.0,1.0,6.000000,1.000000,7.000000
75%,39.000000,69914.000000,6.045728e+06,NaN,2022.0,1.0,11.000000,2.000000,7.000000
max,58.000000,77388.000000,9.010745e+06,NaN,2022.0,1.0,13.000000,2.000000,10.000000

In [16]:
all_data[['District Code', 'School Code', 'Students Tested', 'Percentage Standard Exceeded', 'Percentage Standard Met',
       'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
       'Percentage Standard Not Met']]

all_data

all_data.columns

Index(['County Code', 'District Code', 'School Code', 'Filler', 'Test Year',
       'Student Group ID', 'Test Type', 'Total Tested at Reporting Level',
       'Total Tested with Scores at Reporting Level', 'Grade', 'Test ID',
       'Students Enrolled', 'Students Tested', 'Mean Scale Score',
       'Percentage Standard Exceeded', 'Percentage Standard Met',
       'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
       'Percentage Standard Not Met', 'Students with Scores',
       'Area 1 Percentage Above Standard', 'Area 1 Percentage Near Standard',
       'Area 1 Percentage Below Standard', 'Area 2 Percentage Above Standard',
       'Area 2 Percentage Near Standard', 'Area 2 Percentage Below Standard',
       'Area 3 Percentage Above Standard', 'Area 3 Percentage Near Standard',
       'Area 3 Percentage Below Standard', 'Area 4 Percentage Above Standard',
       'Area 4 Percentage Near Standard', 'Area 4 Percentage Below Standard',
       'Type ID'],
      dtype='object')

In [17]:
data.columns

Index(['County Code', 'District Code', 'School Code', 'Filler', 'Test Year',
       'Type ID', 'County Name', 'District Name', 'School Name', 'Zip Code'],
      dtype='object')

In [18]:
merged_data = pd.merge(all_data, data, how='inner', on=['County Code', 'District Code', 'School Code'])

In [19]:
dataset = merged_data.copy()


# merged_data[['District Code', 'School Code','County Name', 'District Name', 'School Name', 'Zip Code', 'Test Type', 'Grade', 'Students Enrolled', 'Students Tested', 'Percentage Standard Exceeded', 'Percentage Standard Met',
#        'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
#        'Percentage Standard Not Met', 'Students with Scores', 'Test ID']]

In [20]:
dataset

,County Code,District Code,School Code,Filler_x,Test Year_x,Student Group ID,Test Type,Total Tested at Reporting Level,Total Tested with Scores at Reporting Level,Grade,...,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard,Type ID_x,Filler_y,Test Year_y,Type ID_y,County Name,District Name,School Name,Zip Code
0,0,0,0,NaN,2022,1,B,2969670,2965421,3,...,59.57,24.13,4,NaN,2022,4,State of California,NaN,NaN,NaN
1,0,0,0,NaN,2022,1,B,2969670,2965421,4,...,65.37,19.60,4,NaN,2022,4,State of California,NaN,NaN,NaN
2,0,0,0,NaN,2022,1,B,2969670,2965421,5,...,60.05,22.28,4,NaN,2022,4,State of California,NaN,NaN,NaN
3,0,0,0,NaN,2022,1,B,2969670,2965421,6,...,64.46,17.87,4,NaN,2022,4,State of California,NaN,NaN,NaN
4,0,0,0,NaN,2022,1,B,2969670,2965421,7,...,60.52,19.68,4,NaN,2022,4,State of California,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102664,58,72769,133751,NaN,2022,1,B,18,18,13,...,*,*,7,NaN,2022,7,Yuba,Wheatland Union High,Edward P. Duplex,95692.0
102665,58,72769,5838305,NaN,2022,1,B,219,219,11,...,61.64,25.11,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
102666,58,72769,5838305,NaN,2022,1,B,219,219,13,...,61.64,25.11,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
102667,58,72769,5838305,NaN,2022,1,B,218,218,11,...,0.00,0.00,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
102668,58,72769,5838305,NaN,2022,1,B,218,218,13,...,0.00,0.00,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0

In [21]:
print("Testing data: ", all_data.shape, " School Names: ", data.shape, " Merged: ", dataset.shape)

Testing data:  (102669, 33)  School Names:  (11339, 10)  Merged:  (102669, 40)

In [22]:
wheatland_district = dataset[(dataset['Grade'] == 11) & (dataset['District Name'] == 'Wheatland Union High')]
wheatland_union_high = wheatland_district[wheatland_district['School Name'] == 'Wheatland Union High']

tested = wheatland_union_high[wheatland_union_high['Students Tested'].notnull()]
tested['Percentage Standard Exceeded'].value_counts()

14.61    1
2.75     1
Name: Percentage Standard Exceeded, dtype: int64

In [26]:
tested.groupby(['District Code', 'School Code']).max()

,,County Code,Filler_x,Test Year_x,Student Group ID,Test Type,Total Tested at Reporting Level,Total Tested with Scores at Reporting Level,Grade,Test ID,Students Enrolled,...,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard,Type ID_x,Filler_y,Test Year_y,Type ID_y,County Name,District Name,School Name,Zip Code
District Code,School Code,,,,,,,,,,,,,,,,,,,,,
72769,5838305,58,NaN,2022,1,B,219,219,11,2,239,...,61.64,25.11,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0

In [30]:
list_of_columns = ['District Code', 'School Code','County Name', 'District Name', 'School Name', 'Zip Code', 'Test Type', 'Grade', 'Students Enrolled', 'Students Tested', 'Percentage Standard Exceeded', 'Percentage Standard Met',
       'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
       'Percentage Standard Not Met', 'Students with Scores', 'Test ID']

tested[list_of_columns]

primary_dataset = dataset[list_of_columns]

#Test ID 1 means English
#Test ID 2 means Math

In [32]:
primary_dataset['Test ID'].value_counts()

1    51337
2    51332
Name: Test ID, dtype: int64

In [33]:
english_dataset = primary_dataset[primary_dataset['Test ID'] == 1]
math_dataset = primary_dataset[primary_dataset['Test ID'] == 2]

In [53]:
#converting String values to floats
primary_dataset.dtypes

columns_to_convert = [
    "Students Enrolled",
    "Students Tested",
    "Percentage Standard Exceeded",
    "Percentage Standard Met",
    "Percentage Standard Met and Above",
    "Percentage Standard Nearly Met",
    "Percentage Standard Not Met",
    "Students with Scores"
]

primary_dataset[columns_to_convert] = primary_dataset[columns_to_convert].apply(pd.to_numeric, errors='coerce')

<ipython-input-53-f291d83c20e8>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  primary_dataset[columns_to_convert] = primary_dataset[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [54]:
primary_dataset.dtypes

District Code                          int64
School Code                            int64
County Name                           object
District Name                         object
School Name                           object
Zip Code                             float64
Test Type                             object
Grade                                  int64
Students Enrolled                    float64
Students Tested                      float64
Percentage Standard Exceeded         float64
Percentage Standard Met              float64
Percentage Standard Met and Above    float64
Percentage Standard Nearly Met       float64
Percentage Standard Not Met          float64
Students with Scores                 float64
Test ID                                int64
dtype: object

In [55]:
english_dataset

def subject_filter(df, subject):
  #df is the dataframe to filter
  #subject is either "math" or "english"
  if subject == "english":
    return df[df['Test ID'] == 1]
  elif subject == "math":
    return df[df['Test ID'] ==2]
  else:
    raise ValueError("Subject must be either 'math' or 'english'")


def grade_filter(df, grade):
  #df is the dataframe to filter
  #grade is the grade to filter for
  grade_filtered = df[df['Grade'] == grade]
  return grade_filtered

high_school_math = grade_filter(subject_filter(primary_dataset, "math"), 11)
high_school_english = grade_filter(subject_filter(primary_dataset, "english"), 11)

#schools that need help with a particular course: standard met + standard exceeded is in the bottom tenth percentile

In [63]:
#worst math performing high schools in California
worst_math_performing = high_school_math[high_school_math['Percentage Standard Met and Above'].notnull()].sort_values("Percentage Standard Met and Above", ascending=True)
worst_math_performing.sort_values("Percentage Standard Not Met", ascending=False)
worst_math_performing[worst_math_performing['School Name']=="Glendora High"]

,District Code,School Code,County Name,District Name,School Name,Zip Code,Test Type,Grade,Students Enrolled,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores,Test ID
23132,64576,1933597,Los Angeles,Glendora Unified,Glendora High,91741.0,B,11,558.0,538.0,18.03,26.21,44.24,24.72,31.04,538.0,2

,District Code,School Code,County Name,District Name,School Name,Zip Code,Test Type,Grade,Students Enrolled,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores,Test ID,Percentage Standard Exceeded or Met
48702,66621,0,Orange,Orange Unified,NaN,NaN,B,11,2132,1957,9.94,15.27,25.20,22.64,52.15,1952,2,9.9415.27
66336,73957,3630233,San Bernardino,Snowline Joint Unified,Serrano High,92329.0,B,11,416,403,9.93,14.14,24.07,26.80,49.13,403,2,9.9314.14
36600,65128,1931302,Los Angeles,Whittier Union High,California High,90604.0,B,11,612,595,9.92,19.66,29.58,29.24,41.18,595,2,9.9219.66
8337,61853,932756,El Dorado,El Dorado Union High,El Dorado High,95667.0,B,11,259,242,9.92,17.36,27.27,18.60,54.13,242,2,9.9217.36
60542,75283,126060,Sacramento,Natomas Unified,Leroy Greene Academy,95833.0,B,11,92,91,9.89,13.19,23.08,26.37,50.55,91,2,9.8913.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101573,10579,5730106,Yolo,Yolo County Office of Education,Dan Jacobs,95776.0,B,11,*,0,NaN,NaN,NaN,NaN,NaN,0,2,NaN
101777,72686,5730056,Yolo,Esparto Unified,Madison Community High,95653.0,B,11,4,0,NaN,NaN,NaN,NaN,NaN,0,2,NaN
102027,72702,5772702,Yolo,Winters Joint Unified,Winters Joint Unified District Level Program,95694.0,B,11,*,0,NaN,NaN,NaN,NaN,NaN,0,2,NaN
102101,72710,5772710,Yolo,Woodland Joint Unified,Woodland Joint Unified District Level Program,95695.0,B,11,*,0,NaN,NaN,NaN,NaN,NaN,0,2,NaN
102419,72736,5872736,Yuba,Marysville Joint Unified,Marysville Joint Unified District Level Program,95901.0,B,11,*,0,NaN,NaN,NaN,NaN,NaN,0,2,NaN