<a href="https://colab.research.google.com/github/dhavalcodes/edudata/blob/main/California_Education_Demographic_and_Test_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
'''
importing the data from:
- https://caaspp-elpac.ets.org/caaspp/ResearchFileListSB?ps=true&lstTestYear=2022&lstTestType=B&lstCounty=00&lstDistrict=00000
the data contains Smarter Balanced Summative Assessments by School and District
'''


file_path = "/content/sb_ca2022entities_csv.csv"
data = pd.read_csv(file_path, encoding='ISO-8859-1', delimiter='^', error_bad_lines=False)

<ipython-input-16-6d3e3e5b7175>:9: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv(file_path, encoding='ISO-8859-1', delimiter='^', error_bad_lines=False)

In [ ]:
all_file_path = "/content/sb_ca2022_all_csv_v1.txt"
all_data = pd.read_csv(all_file_path, encoding='ISO-8859-1', delimiter='^', error_bad_lines=False)

<ipython-input-18-9fed9a80c788>:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  all_data = pd.read_csv(all_file_path, encoding='ISO-8859-1', delimiter='^', error_bad_lines=False)

In [ ]:
#EDA on all_data
all_data.describe()

,County Code,District Code,School Code,Filler,Test Year,Student Group ID,Grade,Test ID,Type ID
count,3.855781e+06,3.855781e+06,3.855781e+06,0.0,3855781.0,3.855781e+06,3.855781e+06,3.855781e+06,3.855781e+06
mean,2.929477e+01,6.499476e+04,3.702298e+06,NaN,2022.0,1.136508e+02,7.455965e+00,1.500002e+00,7.097993e+00
std,1.424003e+01,1.322501e+04,2.801257e+06,NaN,0.0,7.586916e+01,3.723962e+00,5.000001e-01,8.927145e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,NaN,2022.0,1.000000e+00,3.000000e+00,1.000000e+00,4.000000e+00
25%,1.900000e+01,6.472500e+04,1.225560e+05,NaN,2022.0,5.200000e+01,4.000000e+00,1.000000e+00,7.000000e+00
50%,3.100000e+01,6.721500e+04,6.010151e+06,NaN,2022.0,9.400000e+01,6.000000e+00,2.000000e+00,7.000000e+00
75%,3.900000e+01,6.978100e+04,6.047542e+06,NaN,2022.0,2.000000e+02,1.100000e+01,2.000000e+00,7.000000e+00
max,5.800000e+01,7.738800e+04,9.010745e+06,NaN,2022.0,2.430000e+02,1.300000e+01,2.000000e+00,1.000000e+01

In [ ]:
all_data[['District Code', 'School Code', 'Students Tested', 'Percentage Standard Exceeded', 'Percentage Standard Met',
       'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
       'Percentage Standard Not Met']]

all_data

all_data.columns

Index(['County Code', 'District Code', 'School Code', 'Filler', 'Test Year',
       'Student Group ID', 'Test Type', 'Total Tested at Reporting Level',
       'Total Tested with Scores at Reporting Level', 'Grade', 'Test ID',
       'Students Enrolled', 'Students Tested', 'Mean Scale Score',
       'Percentage Standard Exceeded', 'Percentage Standard Met',
       'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
       'Percentage Standard Not Met', 'Students with Scores',
       'Area 1 Percentage Above Standard', 'Area 1 Percentage Near Standard',
       'Area 1 Percentage Below Standard', 'Area 2 Percentage Above Standard',
       'Area 2 Percentage Near Standard', 'Area 2 Percentage Below Standard',
       'Area 3 Percentage Above Standard', 'Area 3 Percentage Near Standard',
       'Area 3 Percentage Below Standard', 'Area 4 Percentage Above Standard',
       'Area 4 Percentage Near Standard', 'Area 4 Percentage Below Standard',
       'Type ID'],
      dtype='object')

In [ ]:
data.columns

Index(['County Code', 'District Code', 'School Code', 'Filler', 'Test Year',
       'Type ID', 'County Name', 'District Name', 'School Name', 'Zip Code'],
      dtype='object')

In [ ]:
merged_data = pd.merge(all_data, data, how='inner', on=['County Code', 'District Code', 'School Code'])

In [ ]:
dataset = merged_data.copy()


# merged_data[['District Code', 'School Code','County Name', 'District Name', 'School Name', 'Zip Code', 'Test Type', 'Grade', 'Students Enrolled', 'Students Tested', 'Percentage Standard Exceeded', 'Percentage Standard Met',
#        'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
#        'Percentage Standard Not Met', 'Students with Scores', 'Test ID']]

In [ ]:
dataset

,County Code,District Code,School Code,Filler_x,Test Year_x,Student Group ID,Test Type,Total Tested at Reporting Level,Total Tested with Scores at Reporting Level,Grade,...,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard,Type ID_x,Filler_y,Test Year_y,Type ID_y,County Name,District Name,School Name,Zip Code
0,0,0,0,NaN,2022,1,B,2969670,2965421,3,...,59.57,24.13,4,NaN,2022,4,State of California,NaN,NaN,NaN
1,0,0,0,NaN,2022,3,B,1518659,1516461,3,...,58.67,25.97,4,NaN,2022,4,State of California,NaN,NaN,NaN
2,0,0,0,NaN,2022,4,B,1449399,1447353,3,...,60.51,22.21,4,NaN,2022,4,State of California,NaN,NaN,NaN
3,0,0,0,NaN,2022,6,B,2439001,2435619,3,...,60.88,19.21,4,NaN,2022,4,State of California,NaN,NaN,NaN
4,0,0,0,NaN,2022,7,B,132045,131948,3,...,59.92,11.86,4,NaN,2022,4,State of California,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3855776,58,72769,5838305,NaN,2022,223,B,*,*,13,...,*,*,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855777,58,72769,5838305,NaN,2022,224,B,19,19,13,...,*,*,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855778,58,72769,5838305,NaN,2022,226,B,30,30,13,...,0.00,0.00,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855779,58,72769,5838305,NaN,2022,227,B,8,8,13,...,*,*,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855780,58,72769,5838305,NaN,2022,241,B,218,218,13,...,0.00,0.00,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0

In [ ]:
print("Testing data: ", all_data.shape, " School Names: ", data.shape, " Merged: ", dataset.shape)

Testing data:  (3855781, 33)  School Names:  (11339, 10)  Merged:  (3855781, 40)

In [ ]:
wheatland_district = dataset[(dataset['Grade'] == 11) & (dataset['District Name'] == 'Wheatland Union High')]
wheatland_union_high = wheatland_district[wheatland_district['School Name'] == 'Wheatland Union High']

tested = wheatland_union_high[wheatland_union_high['Students Tested'].notnull()]
tested['Percentage Standard Exceeded'].value_counts()

*        36
0.00      9
14.61     3
2.75      3
6.25      2
3.13      2
15.63     2
2.82      1
20.00     1
1.61      1
4.26      1
2.86      1
2.60      1
2.15      1
7.14      1
7.50      1
2.44      1
1.27      1
5.77      1
3.45      1
3.14      1
4.17      1
2.79      1
7.69      1
5.26      1
12.20     1
22.64     1
12.80     1
17.02     1
15.17     1
16.00     1
16.13     1
28.13     1
12.30     1
14.49     1
21.43     1
10.00     1
21.69     1
15.19     1
18.87     1
13.79     1
10.94     1
4.55      1
7.41      1
12.90     1
15.56     1
23.08     1
3.85      1
Name: Percentage Standard Exceeded, dtype: int64

In [ ]:
tested.groupby(['District Code', 'School Code']).max()
tested

<ipython-input-70-589055bbc2f8>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  tested.groupby(['District Code', 'School Code']).max()

,County Code,District Code,School Code,Filler_x,Test Year_x,Student Group ID,Test Type,Total Tested at Reporting Level,Total Tested with Scores at Reporting Level,Grade,...,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard,Type ID_x,Filler_y,Test Year_y,Type ID_y,County Name,District Name,School Name,Zip Code
3855581,58,72769,5838305,NaN,2022,1,B,219,219,11,...,61.64,25.11,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855582,58,72769,5838305,NaN,2022,3,B,125,125,11,...,60.80,28.00,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855583,58,72769,5838305,NaN,2022,4,B,94,94,11,...,62.77,21.28,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855584,58,72769,5838305,NaN,2022,6,B,211,211,11,...,62.09,24.17,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855585,58,72769,5838305,NaN,2022,7,B,6,6,11,...,*,*,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3855726,58,72769,5838305,NaN,2022,223,B,*,*,11,...,*,*,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855727,58,72769,5838305,NaN,2022,224,B,19,19,11,...,*,*,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855728,58,72769,5838305,NaN,2022,226,B,30,30,11,...,0.00,0.00,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855729,58,72769,5838305,NaN,2022,227,B,8,8,11,...,*,*,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0
3855730,58,72769,5838305,NaN,2022,241,B,218,218,11,...,0.00,0.00,7,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0